include README.rst
include AUTHORS
include INSTALL
include LICENSE
include MANIFEST.in
include data_conversion/VERSION
recursive-include docs *
prune docs/build
recursive-include extras *
recursive-include bin *
recursive-include tests *
global-exclude __pycache__ *.py[cod]
